body {
  background-color: #234C6A; /* Deep blue-teal */
  font-family: sans-serif;
}

.container {
  width: 360px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.09); 
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 25px 20px;
  backdrop-filter: blur(10px); 
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.input-box {
  width: 75%;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 18px;
}

#searchBtn {
  background: #00b4d8;
  border: none;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBtn:hover {
  background: #0096c7;
}

.search-icon {
  width: 22px;
  height: 22px;
  filter: invert(1);
}

.weather-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 15px;
  padding: 15px 10px;
}

.weather-img {
  width: 90px;
  height: 90px;
  margin-bottom: 8px;
}

.city-name {
  font-size: 26px;
  margin: 4px 0 4px;
  text-transform: capitalize;
}

.temperature {
  font-size: 36px;
  margin: 4px 0 4px;
}

.description {
  font-size: 18px;
  margin: 4px 0 8px;
  text-transform: capitalize;
  color: #fff;
}

.extra-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  gap: 50px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.info-icon {
  width: 26px;
  height: 26px;
}

.info div {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.info p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.location-not-found {
  margin-top: 20px;
  font-size: 15px;
}

.location-not-found h1{
  color: #ff6b6b;
}